{% extends 'base.html.twig' %}
{# {{ form_widget(form) }} #}

{% block title %}Inscription{% endblock %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/security/register.css') }}">
{% endblock %}

{% block javascripts %}
	<script src="{{ asset('js/security/index.js') }}"></script>
{% endblock %}

{% block body %}
	<div class="container">
		<input type="hidden" value="1" id="current_step">
		<input type="hidden" value="P" id="type_compte">
		{{ form_start(form) }}
		<input type="hidden" name="experiences">
		<input type="hidden" name="langues">
		<div class="row formulaire">
			<div class="col-lg-10 etape" id="etape1">
				<h1 id="etape__title">Etape N°1</h1>
				<div class="form-group form_group_etape">
					{{ form_row(form.username, {'attr' : {'class' : 'form-control'} }) }}
					{{ form_row(form.email, { 'attr' : {'class' : 'form-control'} }) }}
				</div>
				
				<div class="form-group form_group_etape">
					{{ form_row(form.password, { 'attr' : {'class' : 'form-control'} }) }}
					{{ form_row(form.comfirmPassword, { 'attr' : {'class' : 'form-control'} }) }}
				</div>
				{{ form_rest(form) }}
			</div>

			<div class="col-lg-10 etape" id="etape2">
				<h2>Quel type de compte voulez vous creer ?</h2>
				<div class="form-group">
					<input type="radio" name="type_compte" id="type_particulier" value="P">
					<b><label for="type_particulier">Particulier</label></b>
				</div>
				<div class="form-group">
					<input type="radio" name="type_compte" id="type_entreprise" value="E">
					<b><label for="type_entreprise">Entreprise</label></b>
				</div>
			</div>
			<div class="col-lg-10 etape" id="etape3">
				<div id="particulier">
					<div class="form-group form_group_etape">
						{{ form_row(particulierForm.nom, {'attr' : {'class' : 'form-control'} }) }}
						
						{{ form_row(particulierForm.prenom, {'attr' : {'class' : 'form-control'} }) }}
					</div>

					<div class="form-group form_group_etape">
						<div>
							<label for="particulier_sexe">Sexe</label>
							<select id="particulier_sexe" name="particulier[sexe]" class="form-control">
								<option value="F">Féminin</option>
								<option value="M">Masculin</option>
							</select>
						</div><div class="col-lg-1"></div>
						{{ form_row(particulierForm.telephone, {'attr' : {'class' : 'form-control'} }) }}
					</div>
					<div class="form-group">
						{{ form_row(particulierForm.profession, {'attr' : {'class' : 'form-control'} }) }}
					</div>
					<div class="form-group">
						{# {{ form_row(particulierForm.langues, {'attr' : {'class' : 'form-control'} }) }} #}
						<select multiple id="langues_choice" class="form-control">
							{% for lang in langues %}
								<option value="{{lang.id}}">{{lang.libelle}}</option>
							{% endfor %}
						</select>
					</div>
					<div class="row">
						<div class="col-lg-6">
							<div class="d-flex justify-content-between">
								<select id="experiences_choice" class="form-control col-lg-10">
									{% for exp in experiences %}
										<option value="{{exp.id}}">{{exp.description}}</option>
									{% endfor %}
								</select>
								<span id="btn__add" class="btn btn-outline-success col-lg-2">
									<span class="fa fa-plus"></span>
								</span>
							</div>

							<div class="d-flex justify-content-between mt-3">
								<span id="btn__autre" class="btn btn-outline-warning">Autres</span>

								<input id="input_autre" type="text" class="form-control">

								<span class="btn btn-outline-success" id="btn_new_add">
									<i class="fa fa-plus"></i>
								</span>
							</div>
						</div>
						<div class="col-lg-6">
							<select multiple  id="experiences" class="form-control"></select>
						</div>
					</div>
				</div>
				<div id="entreprise">
					<div class="form-group form_group_etape">
						{{ form_row(entrepriseForm.nom, {'attr' : {'class' : 'form-control'} }) }}
					</div>
					<div class="form-group">
						{{ form_row(entrepriseForm.secteur, {'attr' : {'class' : 'form-control'} }) }}
					</div>
					<div class="form-group">
						{{ form_row(entrepriseForm.localisation, {'attr' : {'class' : 'form-control'} }) }}
					</div>					
				</div>
			</div>
		</div>

		<div>
			<div class="container" id="etape__switch">
				<div class="row">
					<div class="col-lg-3 offset-3" >
						<span class="btn btn-primary" id="previous_step">Précédant</span>
					</div>
					<div class="col-lg-3 offset-3" id="test_container">
						<span class="btn btn-primary" id="next_step">Suivant</span>
						<button type='submit' class='btn btn-success'>Terminer</button>
					</div>
				</div>
			</div>
		</div>
		{{ form_end(form) }}
				
	</div>
{% endblock %}