{% extends 'base.html.twig' %}

{% block title %}offres{% endblock %}

{% block stylesheets %}<link rel="stylesheet" type="text/css" href="{{asset('css/offre/index.css')}}">{% endblock %}

{% block javascripts %}<script src="{{asset('js/offre/index.js')}}"></script>{% endblock %}

{% block body %}
	<div role="main" class="container">
		<input type="hidden" value="{{ app.user.particulier.id }}" id="particulier">
		<div class="row">
			{% for offre in offres %}
				<div class="col-md-4">
					<div class="card mb-4 box-shadow">
						<div id="periodeBox{{ offre.id }}" class="alert alert-success periodeBox">
							<div class="periode">
								Du 21/08/2010 12:45 <br/>au 21/08/2010 17:54
							</div>
							<div>
								<img src="{{asset('img/calendar.png')}}" style="width : 50px; height : 100%;margin-top:0px;">
							</div>
						</div>

						<img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" id="{{ offre.id }}" class="evenementImg" style="width : 100%; height : 100px;">
						
						<div class="card-body">
							<p class="card-text">{{ offre.description }}</p>
							<div class="row">
								<div class="col-lg-6">
									<div class="text-right">
										<b>Organisateurs</b>
										<img src="{{asset('img/manager.png')}}" style="width : 20%; height : 20%;">
									</div>
								</div>
								<div class="col-lg-6">
									<div class="text-left">
										<b><a href="{{ path('user_profil', {user: offre.auteur.user.id}) }}">{{ offre.auteur }}</a></b>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-6">
									<div class="text-right">
										<b>Salaire mini </b>
										<img src="{{asset('img/coins.png')}}" style="width : 20%; height : 20%;">
									</div>
								</div>
								<div class="col-lg-6">
									<div class="text-left"><b>{{ offre.remuneration }}Fcfa</b></div>
								</div>	
							</div>
							</div>
							<div class="row">
								<div class="col-lg-6">
									<div class="text-right">
										<b>Lieu </b>
										<img src="{{asset('img/geo.png')}}" style="width : 20%; height : 20%;">
									</div>
								</div>
								<div class="col-lg-6">
									<div class="text-left"><b>{{ offre.auteur.localisation.ville }}</b></div>
								</div>	
							</div>
							{% if app.user %}
								{% if app.user.particulier %}
									<div class="d-flex justify-content-between align-items-center">
										<div class="bd-example" id="offre_state{{ offre.id }}">
										  <button type="button" value="{{ offre.id }}" class="btn btn-primary btn-inscrire" data-toggle="modal" data-target="#exampleModalLive" style="border-radius: 14.25rem;{% if offre.isSuscribed(app.user.particulier) %} display: none;{% endif %}" >
											Postuler
										  </button>
										  <button id="btn-desinscrire{{ offre.id }}" type="button" value="{{ offre.id }}" class="btn btn-danger btn-desinscrire" style="border-radius: 14.25rem; {% if not offre.isSuscribed(app.user.particulier) %} display: none;{% endif %}" >
											<span class="fa fa-trash-o"></span> anuller la demande
										  </button>
										</div>
									</div>
								{% endif %}
							{% endif %}
						</div>
					</div>
				</div>
			{% endfor %}
			
			{% if offres | length == 0 %}
				<p class="lead">Ooups !!! Aucune offre part ici !</p>
			{% endif %}
			</div>
	</div>

	<div id="exampleModalLive" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLiveLabel" aria-hidden="true">
	  <div class="modal-dialog" role="document">
		<div class="modal-content">
		  <div class="modal-header">
			<h5 class="modal-title" id="exampleModalLiveLabel">Confirmation de l'inscription</h5>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			  <span aria-hidden="true">&times;</span>
			</button>
		  </div>
		  <div class="modal-body">
			<b>Monsieur <b class="lead">{{ app.user.particulier.prenom }}</b>, etes-vous sur de vouloir postuler à cette offre ?</b>
		  </div>
		  <div class="modal-footer">
			<button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
			<button type="button" id="btn-confirmer" value="" class="btn btn-primary" data-dismiss="modal">Confirmer</button>
		  </div>
		</div>
	  </div>
	</div>
{% endblock %}
