{% extends 'base.html.twig' %}
{# {{ form_widget(form) }} #}

{% block title %}modification d'offre{% endblock %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/offre/update.css') }}"/>
{% endblock %}

{% block javascripts %}
	<script src="{{ asset('js/offre/update.js') }}"></script>
{% endblock %}

{% block body %}
	<div role="main" class="container">
		{{ form_start(form) }}
		<input type="hidden" name="competences" value="{% for compOffre in competenceOffres %}___{{compOffre.competence.id}}{% endfor %}">
		<input type="hidden" name="niveaux" value="{% for compOffre in competenceOffres %}___{{compOffre.niveau.id}}{% endfor %}">
		{# <input type="hidden" name="type" value="" id=""> #}
		<div class="row">
			<div class="col-lg-10">
				{{ form_row(form.titre, {'attr' : {'class' : 'form-control'}}) }}
				{{ form_row(form.description, {'attr' : {'class' : 'form-control'}}) }}
				{{ form_row(form.nb_experience, {'attr' : {'class' : 'form-control'}}) }}
				{{ form_row(form.remuneration, {'attr' : {'class' : 'form-control'}}) }}
				{{ form_row(form.email, {'attr' : {'class' : 'form-control'}}) }}
				{{ form_row(form.telephone, {'attr' : {'class' : 'form-control'}}) }}
				{{ form_row(form.duree, {'attr' : {'class' : 'form-control'}}) }}
				<div class="form-group">
					<label for="offre_emploi_fin_demande" class="required">Fins de l'offre</label>
					<input type="date" name="offre_emploi[fin_demande]" required id="offre_emploi[fin_demande]" class="form-control">
				</div>
			</div>
			
			<div class="col-lg-10">
				<div class="row">
					<h3 class="col-lg-6">Compétences requises </h3>
					<h3 class="col-lg-6 text-right">Niveau de la compétences</h3>
				</div>
				
				<div class="row">
					<div class="col-lg-6">
						<select multiple  id="competences" class="form-control">
							{% for compOffre in competenceOffres %}
								<option value="{{compOffre.competence.id}}">{{compOffre.competence.libelle}}</option>
							{% endfor %}
						</select>
					</div>
					<div class="col-lg-1">
						<span id="btn__remove" class="btn btn-danger mb-2"><i class="fa fa-trash"></i></span>
						{# <span class="btn btn-danger"><i class="fa fa-arrow-circle-left"></i></span> #}
					</div>
					<div class="col-lg-5">
						<select multiple name="niveaux" id="niveaux" class="form-control">
							{% for compOffre in competenceOffres %}
								<option value="{{compOffre.niveau.id}}">{{compOffre.niveau.libelle}}</option>
							{% endfor %}
						</select>
					</div>
						
					<div class="row border-top p-2 col-lg-12">	
						<div class="row col-lg-6">
							<select id="competence_choice" class="form-control col-lg-6">
								{% for competence in competences %}
									<option value="{{competence.id}}">{{competence.libelle}}</option>
								{% endfor %}
							</select>
							<select id="niveaux_choice" class="form-control col-lg-4">
								<option value="1">Débutant</option>
								<option value="2">Amateur</option>
								<option value="3">Professionnel</option>
							</select>
							
							<span id="btn__add" class="btn btn-outline-success col-lg-2">
								<span class="fa fa-plus"></span>
							</span>
						</div>
							
						<div class="row col-lg-6">
							<div class="col-lg-2"></div>

							<span id="btn__autre" class="btn  btn-outline-warning col-lg-2">
								<span class="">New</span>
							</span>
							{# <div class="col-lg-1"></div> #}

							<input type="text" id="input_autre" class="form-control col-lg-3" />

							<select id="niveaux_choice_new" class="form-control col-lg-3">
								<option value="1">Débutant</option>
								<option value="2">Amateur</option>
								<option value="3">Professionnel</option>
							</select>
							<span id="btn_new_add" class="btn btn-outline-success col-lg-2">
								<span class="fa fa-plus"></span>
							</span>
							
							{# <div class="col-lg-5"></div> #}
						</div>
					</div>
				</div>
				<div class="competence-form">
				</div>
			</div>
		</div>


		<div>
			<div class="container">
				<div class="row">
					<div class="col-lg-2 offset-10">
						<button type='submit' class='btn btn-outline-primary'>Sauvegarder</button>
					</div>
				</div>
			</div>
		</div>
		{{ form_end(form) }}
				
	</div>
{% endblock %}